# ============================
# Environnement virtuel Python
# ============================
.venv/

# ============================
# Cache Python
# ============================
__pycache__/
*.pyc

# ============================
# VS Code
# ============================
.vscode/

# ============================
# PyCharm / IntelliJ
# ============================
.idea/

# ============================
# macOS
# ============================
.DS_Store

# ============================
# Journaux
# ============================
logs/

# ============================
# Données temporaires
# ============================
data/temp/

# ============================
# Bases de données locales
# ============================
*.db